<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AGHeader.master.cs" Inherits="Artemis_Galaxy.AGHeader" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div>
        <asp:ContentPlaceHolder ID="cphMainContent" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
